/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #070614;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --accent: #22c55e;
  --accent-foreground: #ffffff;
  --muted: #f4f4f5;
  --muted-foreground: #6b7280;

  --custom1-hot-berry: #e11d48;
  --custom1-raspberry-plum: #9d174d;
  --custom1-mint: #10b981;
  --custom1-emerald: #047857;
  --custom1-midnight: #0f172a;
  --custom1-hunter-green: #065f46;
  --custom1-muted-olive: #78716c;
  --custom1-charcoal-green: #0d3331;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}
